@import url(../style/fonts.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar-thumb {
  background: #e0dfdf;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 9px;
}

ul {
  list-style: none;
}

/* Navbar start */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 70px;
}
.navbar .backgrfweewfound {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown1-menu {
  animation: slidein 0.6s normal;
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  min-width: 12rem;
  /* grid-column-gap: 1rem; */
  /* grid-row-gap: 1rem; */
  background-color: #fff;
  border: 1px solid #f1f4ff;
  border-radius: 0.8rem;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: stretch;
  padding: 1.2rem;
  /* display: flex; */
  /* position: relative; */
  box-shadow: 0 8px 8px rgba(23, 22, 24, 0.04), 0 4px 4px rgba(23, 22, 24, 0.04), 0 2px 2px rgba(23, 22, 24, 0.04);
}

.dropdown__text {
  font-size: 14px;
  width: 210px;
  font-family: "Inter-Regular";
}

.dropdown-item {
  font-size: 16px;
  white-space: wrap;
  font-family: "Inter-Bold";
  position: relative;
}

.dropdown-item.hover,
.dropdown-item:hover {
  transition: 0.4s;
  color: #2b44e7 !important;
  background-color: transparent !important;
}
.dropdown-item.hover .dropdown__text,
.dropdown-item:hover .dropdown__text {
  color: #171618;
}

.soon {
  color: #171618;
  opacity: 0.5;
  background-color: #f5f3f4;
  border-radius: 4px;
  padding: 4px 6px;
  font-family: "Inter-Medium";
  font-size: 12px;
  margin-bottom: 0;
}

.dropdown__div-text {
  margin-bottom: 0 !important;
}

.dropdown__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes slidein {
  100% {
    transform: translateY(0%);
    filter: blur(0px);
    opacity: 1;
  }
  50% {
    transform: translateY(-4%);
    filter: blur(2px);
  }
  0% {
    transform: translateY(8%);
    opacity: 0;
    filter: blur(4px);
  }
}
.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.navbar__link1 {
  color: #171618;
  font-family: "Inter-Medium";
  font-size: 15.501px;
  font-style: normal;
  font-weight: 500;
  line-height: 21.701px;
}

.navbar__link2 {
  color: #171618;
  font-family: "Inter-Medium";
  font-size: 15.5px;
  font-style: normal;
  font-weight: 500;
  line-height: 21.701px;
  transition: 0.4s ease 0s;
}
.navbar__link2:hover {
  color: #2b44e7;
}

.navbar__form-link1 {
  color: #171618;
  font-family: "Inter-Medium";
  font-size: 15.501px;
  font-style: normal;
  font-weight: 500;
  line-height: 21.701px;
  display: flex;
  text-decoration: none;
  width: 73px;
  justify-content: center;
  align-items: center;
  align-self: center;
  transition: 0.4s;
}

.navbar__form-link2 {
  color: #fff;
  transition: 0.4s;
  text-align: center;
  font-family: "Inter-SemiBold";
  font-size: 15.501px;
  font-style: normal;
  font-weight: 600;
  line-height: 18.601px;
  display: flex;
  width: 135px;
  height: 38px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  border: 2px solid #2b44e7;
  background: #2b44e7;
  text-decoration: none;
}
.navbar__form-link2:hover {
  background-color: transparent;
  border: 2px solid #2b44e7 !important;
}

/* navbar end */
/* header content start */
.header__content {
  padding-top: 120px;
  overflow: hidden;
  height: 600px;
  background: url(../images/header/gradient.png) no-repeat center center/cover;
  background-size: 100% 570px;
  background-position: center bottom;
  align-items: center;
  justify-content: center;
  display: flex;
}
.header__content .content__row {
  position: relative;
  row-gap: 100px;
  align-items: center;
}
.header__content .content__row::before {
  content: url(../images/header/Before.png);
  position: absolute;
  left: -125px;
  top: -70px;
  width: 390px;
  z-index: -1;
  height: 460px;
}
.header__content .content__row::after {
  content: url(../images/header/After.png);
  position: absolute;
  right: -114px;
  top: -85px;
  z-index: -1;
}
.header__content .content__text {
  color: #171618;
  text-align: center;
  font-family: "Inter-Black";
  font-size: 76px;
  font-style: normal;
  font-weight: 900;
  line-height: 78.537px;
  letter-spacing: -1.963px;
  width: 1128.834px;
  margin: 0 auto;
}
.header__content .content__text span {
  color: #2b44e7;
  font-family: "Inter-Black";
  font-size: 76px;
  font-weight: 900;
  line-height: 78.537px;
  letter-spacing: -1.963px;
}
.header__content .content__div2 {
  display: flex;
  row-gap: 60px;
  position: relative;
  flex-direction: column;
}
.header__content .content__div2::after {
  content: url(../images/header/after2.png);
  position: absolute;
  right: 25px;
  z-index: -1;
  top: 63px;
}
.header__content .content__text1 {
  color: #171618;
  font-family: "Inter-Regular";
  margin-bottom: 0 !important;
  margin: 0 auto;
  text-align: center;
  font-size: 24.801px;
  line-height: 34.722px;
  width: 574px;
}
.header__content .content__div1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.header__content .content__div1-link1 {
  color: #2b44e7;
  text-align: center;
  font-family: "Inter-SemiBold";
  font-size: 16.534px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.841px;
  border-radius: 8px;
  border: 2px solid #2b44e7;
  background: #fff;
  display: flex;
  width: 157.09px;
  height: 56.9px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.4s ease 0s !important;
}
.header__content .content__div1-link1:hover {
  color: #fff;
  background: #2b44e7;
}
.header__content .content__div1-link2 {
  color: #2b44e7;
  text-align: center;
  font-family: "Inter-SemiBold";
  font-size: 16.534px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.841px;
  width: 173.31px;
  border-radius: 8px;
  border: 2px solid #2b44e7;
  background: #fff;
  display: flex;
  width: 173.31px;
  height: 56.9px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.4s ease 0s;
}
.header__content .content__div1-link2:hover {
  color: #fff;
  background: #2b44e7;
}

/* header content end */
/* main */
/* section1 start */
.section1 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
  height: 400.86px;
}
.section1 .section1__text {
  color: #171618;
  text-align: center;
  font-family: "Inter-Regular";
  font-size: 24.801px;
  line-height: 34.722px;
}
.section1 .section1__div3 {
  display: flex;
  row-gap: 30px;
  flex-direction: column;
}
.section1 .section1__div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section1 .section1__line {
  border: 2px solid rgba(56, 56, 138, 0.12);
  width: 1276.8px;
}

/* section1 end */
/* section2 start */
.section2 {
  overflow: hidden;
  position: relative;
  height: 1010px;
  align-items: center;
  display: flex;
}
.section2 .container {
  row-gap: 10px;
  display: flex;
  flex-direction: column;
}
.section2 .section2__div2 {
  display: flex;
  align-items: center;
  row-gap: 25px;
  position: relative;
  flex-direction: column;
}
.section2 .section2__div2::after {
  content: url(../images/main/source.png);
  position: absolute;
  right: -33.17px;
  top: 157.4px;
  z-index: 4;
}
.section2 .section2__div2 .section2__text1 {
  color: #171618;
  text-align: center;
  font-family: "Inter-Black";
  font-size: 52.736px;
  font-weight: 900;
  line-height: 53.736px;
  letter-spacing: -1.343px;
}
.section2 .section2__div2 .section2__text2 {
  color: #171618;
  text-align: center;
  font-family: "Inter-Regular";
  font-size: 24.801px;
  line-height: 34.722px;
  width: 669px;
  margin: 0 auto;
  display: flex;
}
.section2 .section2__div1 {
  display: flex;
  width: 1276.8px;
  padding: 33.06px 86.8px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  border-radius: 24px;
  background: #fefaed;
}
.section2 .section2__div1::before {
  content: url(../images/main/customer.png);
  position: absolute;
  left: -119.14px;
  bottom: -50.29px;
}
.section2 .section2__div1::after {
  content: url(../images/main/company.png);
  position: absolute;
  right: -156.65px;
  bottom: 115.85px;
}

/* section2 end */
/* section3 start */
.section3 {
  height: 550px;
  align-items: center;
  display: flex;
}
.section3 .section3__div {
  align-items: center;
  display: flex;
  row-gap: 10px;
  justify-content: center;
  flex-direction: column;
  height: 220px;
}
.section3 .section3__div .section3__text1 {
  color: #171618;
  text-align: center;
  font-family: "Inter-Bold";
  font-size: 24.801px;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 27.281px;
}
.section3 .section3__div .section3__text2 {
  color: #5b5a59;
  text-align: center;
  font-family: "Inter-Regular";
  font-size: 18.601px;
  line-height: 26.041px;
  width: 371px;
}
.section3 .section3__div .section3__text3 {
  color: #5b5a59;
  text-align: center;
  font-family: "Inter-Regular";
  font-size: 18.601px;
  width: 330px;
  line-height: 26.041px;
}
.section3 .section3__div .section3__text4 {
  color: #5b5a59;
  text-align: center;
  font-family: "Inter-Regular";
  font-size: 18.601px;
  width: 380px;
  line-height: 26.041px;
}
.section3 .section3__div .section3__text5 {
  color: #5b5a59;
  width: 361px;
  text-align: center;
  font-family: "Inter-Regular";
  font-size: 18.601px;
  line-height: 26.041px;
}
.section3 .section3__div .section3__text6 {
  color: #5b5a59;
  width: 358px;
  text-align: center;
  font-family: "Inter-Regular";
  font-size: 18.601px;
  line-height: 26.041px;
}
.section3 .section3__div .section3__text7 {
  color: #5b5a59;
  width: 355px;
  text-align: center;
  font-family: "Inter-Regular";
  font-size: 18.601px;
  line-height: 26.041px;
}

/* section3 end */
/* section4 start */
.section4 {
  height: 800px;
  align-items: center;
  display: flex;
}
.section4 .section4__icon {
  opacity: 0 !important;
}
.section4 .section4__row {
  position: relative;
}
.section4 .section4__row .section4__text1 {
  color: #171618;
  font-family: "Inter-Black";
  font-size: 52.736px;
  width: 485px;
  font-weight: 900;
  line-height: 53.736px;
  letter-spacing: -1.343px;
}
.section4 .section4__row .section4__text2 {
  color: #171618;
  font-family: "Inter-Regular";
  font-size: 24px;
  width: 501px;
  line-height: 34.722px;
}
.section4 .section4__row .section4__list {
  border-radius: 8px;
  row-gap: 10px;
  flex-direction: column;
  display: flex;
}
.section4 .section4__row .section4__list .section4__list-link {
  color: #222 !important;
  font-family: "Inter-Bold";
  font-size: 24.801px;
  font-weight: 700;
  line-height: 27.281px;
  opacity: 0.7;
  text-decoration: none;
  padding: 21px 33px;
  padding: 20px 20px;
  border: 5px solid transparent;
  transition: all 0.2s ease-in-out;
  display: flex;
  width: 600px;
  align-items: center;
  justify-content: space-between;
}
.section4 .section4__row .section4__list .section4__list-link.active {
  opacity: 1 !important;
  color: #222;
  font-family: "Inter-Bold";
  font-size: 24.801px;
  font-weight: 700;
  line-height: 27.281px;
  outline: 0px solid transparent;
  padding: 20px 20px;
  border: 1px solid rgba(56, 56, 138, 0.12);
  transition: all 0.2s ease-in-out;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 16px 32px -8px rgba(56, 56, 138, 0.12);
}
.section4 .section4__row .section4__list .section4__list-link.active .section4__icon {
  opacity: 1 !important;
}
.section4 .section4__tab {
  box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
  border-radius: 27px;
  width: 100%;
  height: 100%;
}
.section4 .section4__tab::after {
  position: absolute;
  content: url(../images/main/63f9bd4aa506ca72e2149400_character-cap.png.svg);
  top: -57.5px;
  left: 1152.79px;
}
.section4 .fade {
  transition: opacity 0.2s ease 0s;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* section4 end */
/* section5 start */
.section5 {
  height: 800px;
  align-items: center;
  display: flex;
}
.section5 .section5__icon {
  opacity: 0;
  transform: rotate(180deg) !important;
}
.section5 .section5__row {
  position: relative;
}
.section5 .section5__row .section5__column1-div1 {
  padding: 25px;
}
.section5 .section5__row .section5__text1 {
  color: #171618;
  font-family: "Inter-Black";
  font-size: 52.736px;
  width: 485px;
  font-weight: 900;
  line-height: 53.736px;
  letter-spacing: -1.343px;
}
.section5 .section5__row .section5__text2 {
  color: #171618;
  font-family: "Inter-Regular";
  font-size: 24.801px;
  width: 501px;
  line-height: 34.722px; /* 140% */
}
.section5 .section5__row .section5__list {
  border-radius: 8px;
  row-gap: 10px;
  flex-direction: column;
  display: flex;
}
.section5 .section5__row .section5__list-link {
  color: #222 !important;
  font-family: "Inter-Bold";
  font-size: 24.801px;
  font-weight: 700;
  line-height: 27.281px;
  flex-direction: row-reverse;
  justify-content: start !important;
  opacity: 0.7;
  text-decoration: none;
  padding: 21px 33px;
  padding: 20px 20px;
  border: 5px solid transparent;
  transition: all 0.2s ease-in-out;
  display: flex;
  width: 600px;
  align-items: center;
}
.section5 .section5__row .section5__list-link.active {
  opacity: 1 !important;
  color: #222;
  font-family: "Inter-Bold";
  font-size: 24.801px;
  font-weight: 700;
  line-height: 27.281px;
  outline: 0px solid transparent;
  padding: 20px 20px;
  border: 1px solid rgba(56, 56, 138, 0.12);
  transition: all 0.2s ease-in-out;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 16px 32px -8px rgba(56, 56, 138, 0.12);
}
.section5 .section5__row .section5__list-link.active .section5__icon {
  opacity: 1 !important;
}
.section5 .fade {
  transition: opacity 0.2s ease 0s;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section5 .section5__tab {
  box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
  border-radius: 27px;
  width: 100%;
  height: 100%;
}
.section5 .section5__tab::after {
  position: absolute;
  content: url(../images/main/63f9bd4a69b16e72d2ca8ff3_character-glasses.png.svg);
  top: -43.66px;
  left: 31px;
}

/* section5 end */
/* section6 start */
.section6 {
  height: 1320px;
  align-items: center;
  display: flex;
}
.section6 .section6__container {
  display: flex;
  row-gap: 15px;
  flex-direction: column;
}
.section6 .section6__container .section6__text {
  color: #171618;
  text-align: center;
  font-family: "Inter-Black";
  font-size: 52.736px;
  font-weight: 900;
  line-height: 53.736px;
  width: 602px;
  margin: 0 auto;
  letter-spacing: -1.343px;
}
.section6 .section6__container .section6__text1 {
  color: #171618;
  text-align: center;
  font-family: "Inter-Regular";
  font-size: 24.801px;
  width: 629px;
  margin: 0 auto;
  line-height: 34.722px;
}
.section6 .section6__column-text1 {
  color: #171618;
  text-align: center;
  font-family: "Inter-Bold";
  font-size: 24.801px;
  font-style: normal;
  font-weight: 700;
  line-height: 27.281px;
}
.section6 .section6__column-text2 {
  color: #5b5a59;
  text-align: center;
  font-family: "Inter-Regular";
  font-size: 18.601px;
  line-height: 26.041px;
}
.section6 .section6__column {
  border-radius: 24px;
  border: 1px solid rgba(56, 56, 138, 0.12);
  padding: 45px 12.5px 15px;
  background: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 438px;
  flex-direction: column;
  row-gap: 30px;
  transition: 0.4s ease 0s;
}
.section6 .section6__column:hover {
  transform: scale(1.02);
  box-shadow: 1px 1px 18px 6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 18px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 18px 6px rgba(0, 0, 0, 0.2);
}
.section6 .section6__column .section6__column-div {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.section6 .section6__column1 {
  border-radius: 24px;
  border: 1px solid rgba(56, 56, 138, 0.12);
  padding: 45px 12.5px 15px;
  background: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 861px;
  transition: 0.4s ease 0s;
}
.section6 .section6__column1:hover {
  transform: scale(1.02);
  box-shadow: 1px 1px 18px 6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 18px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 18px 6px rgba(0, 0, 0, 0.2);
}
.section6 .section6__column1 .section6__column-div1 {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.section6 .section6__row {
  justify-content: space-between;
}

/* section6 end */
/* section7 start */
.section7 {
  display: flex;
  background: #f9ebfb;
  height: 1038.99px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 99.2px;
  border-radius: 24px;
  background: #f9ebfb;
}
.section7 .section7__div1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
}
.section7 .section7__text1 {
  color: #171618;
  text-align: center;
  font-family: "Inter-Black";
  font-size: 52.736px;
  font-style: normal;
  font-weight: 900;
  line-height: 53.736px;
  width: 825px;
  letter-spacing: -1.343px;
  margin: 0 auto;
}
.section7 .section7__text2 {
  color: #171618;
  text-align: center;
  font-family: "Inter-Regular";
  font-size: 24.801px;
  font-style: normal;
  font-weight: 400;
  line-height: 34.722px;
  width: 464px;
  margin: 0 auto;
}
.section7 .section7__div3 {
  display: flex;
  width: 320.01px;
  height: 80.13px;
  align-items: center;
  justify-content: space-between;
  gap: 18.59px;
  z-index: 2;
  border-radius: 16px;
  padding: 23.34px 57.03px 23.73px 42.33px;
  border: 1px solid rgba(56, 56, 138, 0.12);
  background: #fff;
  box-shadow: 0px 16px 24px -8px rgba(129, 50, 132, 0.1), 0px 4px 6px -2px rgba(119, 45, 121, 0.05);
}
.section7 .section7__column2 {
  position: relative;
  display: flex;
  justify-content: end;
  padding-top: 57px;
  padding-right: 117px;
}
.section7 .section7__div3-text1 {
  color: #171618;
  font-family: "Inter-SemiBold";
  font-size: 22.734px;
  font-style: normal;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 31.828px;
}
.section7 .section7__column1 {
  display: flex;
  flex-direction: column;
  padding-top: 39px;
  row-gap: 20px;
}
.section7 .section7__div2 {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.section7 .section7__title1 {
  color: #171618;
  font-family: "Inter-Bold";
  font-size: 24.801px;
  font-style: normal;
  font-weight: 700;
  line-height: 27.281px;
}
.section7 .section7__text3 {
  color: #5b5a59;
  font-family: "Inter-Regular";
  font-size: 18.601px;
  line-height: 26.041px;
  width: 404px;
}
.section7 .section7__container {
  position: relative;
}
.section7 .section7__container::before {
  position: absolute;
  display: flex;
  left: -102px;
  top: 212px;
  width: 670.4px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  content: url(../images/main/bg.png);
}

/* section7 end */
/* section8 start */
.section8 {
  height: 1250px;
  align-items: center;
  display: flex;
}
.section8 .container {
  row-gap: 30px;
  display: flex;
  flex-direction: column;
}
.section8 .section8__column2-img {
  border-radius: 12.4px;
  box-shadow: 0px 16px 32px -8px rgba(56, 56, 138, 0.12);
}
.section8 .section8__column2-img2 {
  border-radius: 25px;
  width: 425px;
  height: 467px;
  margin: 0 auto;
  display: flex;
  box-shadow: 0px 16px 32px -8px rgba(56, 56, 138, 0.12);
}
.section8 .section8__text1 {
  color: #171618;
  text-align: center;
  font-family: "Inter-Black";
  font-size: 52.736px;
  font-style: normal;
  font-weight: 900;
  line-height: 53.736px; /* 101.896% */
  letter-spacing: -1.343px;
}
.section8 .section8__column {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.section8 .section8__text2 {
  color: #171618;
  text-align: center;
  width: 450px;
  margin: 0 auto;
  font-family: "Inter-Regular";
  font-size: 24.801px;
  line-height: 34.722px;
}
.section8 .section8__text3 {
  color: #171618;
  font-family: "Inter-Bold";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 27.281px;
}
.section8 .section8__text4 {
  width: 610px;
  color: #5b5a59;
  font-family: "Inter-Regular";
  font-size: 19px;
  line-height: 30px;
}
.section8 .section8__text4 .span1 {
  color: #171618;
  font-family: "Inter-SemiBold";
  font-size: 18.601px;
  font-style: normal;
  font-weight: 600;
  line-height: 24.181px;
  width: 119.88px;
  height: 24.18px;
  padding: 0.5px 3.8px 1.18px 4px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #ffd231;
}
.section8 .section8__text4 .span2 {
  color: #171618;
  font-family: "Inter-SemiBold";
  font-size: 18.601px;
  font-style: normal;
  font-weight: 600;
  line-height: 24.181px;
  width: 119.88px;
  height: 24.18px;
  padding: 0.5px 3.8px 1.18px 4px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #dbdeef;
}
.section8 .section8__text12 {
  color: #171618;
  font-family: "Inter-Bold";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 27.281px;
}
.section8 .section8__text21 {
  width: 610px;
  color: #5b5a59;
  font-family: "Inter-Regular";
  font-size: 19px;
  line-height: 30px;
}
.section8 .section8__column1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section8 span {
  width: 90.98px;
  height: 22.5px;
  flex-shrink: 0;
  color: #171618;
  font-family: "Inter-SemiBold";
  font-size: 18.601px;
  font-style: normal;
  font-weight: 600;
  line-height: 24.181px;
  width: 98.78px;
  height: 24.18px;
  padding: 0.5px 3.8px 1.18px 4px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #ffd231;
}
.section8 .span5 {
  width: 90.98px;
  height: 22.5px;
  flex-shrink: 0;
  color: #171618;
  font-family: "Inter-SemiBold";
  font-size: 18.601px;
  font-style: normal;
  font-weight: 600;
  line-height: 24.181px;
  width: 98.78px;
  height: 24.18px;
  padding: 0.5px 3.8px 1.18px 4px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #dbdeef;
}

/* section8 end */
/* section9 start */
.section9 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  height: 2100px;
  background: #f1f4ff !important;
}
.section9 .section9__div9 {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.section9 .section9__text1 {
  font-family: "Inter-Black";
  font-size: 18.601px;
  line-height: 26.041px;
  color: #171618;
  text-align: center;
  font-size: 52.736px;
  font-weight: 900;
  line-height: 53.736px;
}
.section9 .section9__text2 {
  color: #171618;
  text-align: center;
  font-family: "Inter-Regular";
  font-size: 24.801px;
  font-weight: 400;
  line-height: 34.722px;
  width: 472px;
  height: 70px;
  margin: 0 auto;
}
.section9 .section9__div,
.section9 .section9__div1,
.section9 .section9__div2,
.section9 .section9__div3,
.section9 .section9__div4,
.section9 .section9__div5,
.section9 .section9__div6,
.section9 .section9__div7 {
  transition: 0.4s;
}
.section9 .section9__div:hover,
.section9 .section9__div1:hover,
.section9 .section9__div2:hover,
.section9 .section9__div3:hover,
.section9 .section9__div4:hover,
.section9 .section9__div5:hover,
.section9 .section9__div6:hover,
.section9 .section9__div7:hover {
  transform: scale(1.003);
  box-shadow: 0px 0px 21px 3px rgba(86, 115, 136, 0.24);
}
.section9 .section9__div {
  background: #fff;
  grid-area: header;
  display: flex;
  padding: 52.54px 27.74px 52.72px 64.8px;
  justify-content: space-between;
  grid-area: header;
  gap: 13.74px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid rgba(56, 56, 138, 0.12);
  background: #fff;
}
.section9 .section9__div1 {
  display: flex;
  grid-area: left;
  background: #fff;
  padding: 24.3px 24.8px 24.58px 24.8px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  overflow: hidden;
  row-gap: 15px;
  border-radius: 16px;
  border: 1px solid rgba(56, 56, 138, 0.12);
  background: #fff;
  position: relative;
}
.section9 .section9__div1:before {
  right: -17px;
  top: -26px;
  position: absolute;
  content: url(../images/main/after3.png);
}
.section9 .section9__div2 {
  display: flex;
  grid-area: right;
  min-height: 220px;
  padding: 1px;
  padding-right: 30px;
  align-items: center;
  border-radius: 16px;
  border: 1px solid rgba(56, 56, 138, 0.12);
  background: #fff;
}
.section9 .section9__div2 img {
  max-width: 606px;
  width: 365px;
}
.section9 .section9__div2 .section9__div2__row {
  width: 100%;
}
.section9 .section9__div2 .section9__div2__column1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section9 .section9__div3 {
  display: flex;
  padding-right: 140px !important;
  align-items: center;
  justify-content: space-between;
  grid-area: left1;
  min-height: 220px;
  padding: 1px 0.99px 1px 1px;
  border-radius: 16px;
  border: 1px solid rgba(56, 56, 138, 0.12);
  background: #fff;
}
.section9 .section9__div4 {
  display: flex;
  min-height: 220px;
  grid-area: right1;
  padding: 1px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  border: 1px solid rgba(56, 56, 138, 0.12);
  background: #fff;
}
.section9 .section9__div4 img {
  min-width: 100%;
}
.section9 .section9__div5 {
  display: flex;
  min-height: 220px;
  padding: 1px;
  flex-direction: column;
  grid-area: left2;
  align-items: flex-start;
  gap: -0.01px;
  border-radius: 16px;
  border: 1px solid rgba(56, 56, 138, 0.12);
  background: #fff;
  justify-content: space-between;
}
.section9 .section9__div5 img {
  min-width: 100%;
}
.section9 .section9__div6 {
  display: flex;
  justify-content: space-between;
  grid-area: center;
  min-height: 220px;
  padding: 1px;
  flex-direction: column;
  align-items: flex-start;
  gap: -0.01px;
  border-radius: 16px;
  border: 1px solid rgba(56, 56, 138, 0.12);
  background: #fff;
}
.section9 .section9__div6 img {
  min-width: 100%;
}
.section9 .section9__div7 {
  display: flex;
  min-height: 220px;
  padding: 1px;
  align-items: flex-end;
  border-radius: 16px;
  border: 1px solid rgba(56, 56, 138, 0.12);
  background: #fff;
  grid-area: right2;
  align-items: center;
}
.section9 .section9__div7 img {
  min-width: 100%;
}
.section9 .section9__div7 .section9__div7__row {
  width: 100%;
}
.section9 .section9__div7 .section9__div7__column1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section9 .section9__div8 {
  display: grid;
  grid-template-areas: "header header header" "left right right" "left1 left1 right1" "left2 center  right1" "left2 right2  right2";
  gap: 10px;
  padding: 10px;
}
.section9 .section9__div-text1 {
  color: #171618;
  font-family: "Inter-Bold";
  font-size: 24.801px;
  font-style: normal;
  font-weight: 700;
  line-height: 27.281px;
  width: 179px;
}
.section9 .section9__div-text2 {
  color: #5b5a59;
  font-family: "Inter-Regular";
  font-size: 16.534px;
  font-style: normal;
  width: 215px;
  font-weight: 400;
  line-height: 23.148px; /* 140% */
}
.section9 .section9__div1-text1 {
  color: #171618;
  font-family: "Inter-Bold";
  font-size: 24.801px;
  font-style: normal;
  font-weight: 700;
  width: 188px;
  line-height: 27.281px; /* 110% */
}
.section9 .section9__div1-text2 {
  color: #5b5a59;
  font-family: "Inter-Regular";
  width: 226px;
  font-size: 16.534px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.148px;
}
.section9 .section9__div2-text1 {
  color: #171618;
  font-family: "Inter-Bold";
  font-size: 24.801px;
  font-style: normal;
  font-weight: 700;
  line-height: 27.281px;
  width: 160px;
}
.section9 .section9__div2-text2 {
  color: #5b5a59;
  font-family: "Inter-Regular";
  font-size: 16.534px;
  font-style: normal;
  width: 205px;
  font-weight: 400;
  line-height: 23.148px;
}
.section9 .section9__div3-text1 {
  color: #171618;
  font-family: "Inter-Bold";
  font-size: 24.801px;
  font-style: normal;
  font-weight: 700;
  width: 198px;
  line-height: 27.281px;
}
.section9 .section9__div3-text2 {
  color: #5b5a59;
  font-family: "Inter-Regular";
  font-size: 16.534px;
  font-style: normal;
  font-weight: 400;
  width: 197px;
  line-height: 23.148px;
}
.section9 .section9__div4-text1 {
  color: #171618;
  width: 99px;
  font-family: "Inter-Bold";
  font-size: 24.801px;
  font-style: normal;
  font-weight: 700;
  line-height: 27.281px;
}
.section9 .section9__div4-text2 {
  color: #5b5a59;
  font-family: "Inter-Regular";
  width: 237px;
  font-size: 16.534px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.148px; /* 140% */
}
.section9 .section9__div5-text1 {
  color: #171618;
  font-family: "Inter-Bold";
  font-size: 24.801px;
  font-style: normal;
  width: 149px;
  font-weight: 700;
  line-height: 27.281px;
}
.section9 .section9__div5-text2 {
  color: #5b5a59;
  width: 214px;
  font-family: "Inter-Regular";
  font-size: 16.534px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.148px; /* 140% */
}
.section9 .section9__div6-text1 {
  color: #171618;
  font-family: "Inter-Bold";
  font-size: 24.801px;
  font-style: normal;
  font-weight: 700;
  line-height: 27.281px;
}
.section9 .section9__div6-text2 {
  color: #5b5a59;
  font-family: "Inter-Regular";
  font-size: 16.534px;
  width: 228px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.148px;
}
.section9 .section9__div7-text1 {
  color: #171618;
  font-family: "Inter-Bold";
  font-size: 24.801px;
  font-style: normal;
  width: 189px;
  font-weight: 700;
  line-height: 27.281px;
}
.section9 .section9__div7-text2 {
  color: #5b5a59;
  font-family: "Inter-Regular";
  font-size: 16.534px;
  width: 207px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.148px;
}
.section9 .section9__div4-div1 {
  padding: 30px;
}
.section9 .section9__div6-div1 {
  padding: 25px;
}
.section9 .section9__div7-text2 {
  color: #5b5a59;
  font-family: "Inter-Regular";
  font-size: 16.534px;
  max-width: 207px;
  line-height: 23.148px; /* 140% */
}
.section9 .section9__div7-div1 {
  display: flex;
  flex-direction: column;
}
.section9 .section9__div-div {
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
  display: flex;
}
.section9 .section9__div2-div1 {
  display: flex;
  flex-direction: column;
}
.section9 .section9__div3-div {
  display: flex;
  flex-direction: column;
}
.section9 .section9__div5-div1 {
  padding: 20px;
}

/* section9 end */
/* section10 start  */
.section10 {
  height: 1200px;
  align-items: center;
  display: flex;
}
.section10 .section10__container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.section10 .section10__text-1 {
  color: #171618;
  text-align: center;
  font-family: "Inter-Black";
  font-size: 52.736px;
  font-style: normal;
  font-weight: 900;
  line-height: 53.736px;
  letter-spacing: -1.343px;
}
.section10 .section10__text-2 {
  color: #171618;
  text-align: center;
  font-family: "Inter-Regular";
  width: 418px;
  margin: 0 auto;
  font-size: 24.801px;
  font-style: normal;
  font-weight: 400;
  line-height: 34.722px;
}
.section10 .section10__row1 {
  display: flex;
  justify-content: space-between;
}
.section10 .section10__column1,
.section10 .section10__column2,
.section10 .section10__column3,
.section10 .section10__column4,
.section10 .section10__column5,
.section10 .section10__column6 {
  width: 32%;
  height: 400px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding: 40px;
  transition: 0.6s;
  border-radius: 16px;
  border: 2px solid rgba(56, 56, 138, 0.12);
}
.section10 .section10__column1:hover,
.section10 .section10__column2:hover,
.section10 .section10__column3:hover,
.section10 .section10__column4:hover,
.section10 .section10__column5:hover,
.section10 .section10__column6:hover {
  transform: scale(1.09);
}
.section10 .section10__column1-text1 {
  color: #5b5a59;
  font-family: "Inter-Regular";
  font-size: 18.601px;
  max-width: 291px;
  font-style: normal;
  margin-bottom: 0 !important;
  font-weight: 400;
  line-height: 26.041px;
}
.section10 .section10__column1-text2 {
  color: #5b5a59;
  font-family: "Inter-Regular";
  font-size: 16.534px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.148px;
}
.section10 .section10__column2 {
  padding: 40px;
  width: 32%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  border: 2px solid rgba(56, 56, 138, 0.12);
}
.section10 .section10__column2-text1 {
  color: #5b5a59;
  font-family: "Inter-Regular";
  font-size: 18.601px;
  width: 289px;
  font-style: normal;
  margin-bottom: 0 !important;
  font-weight: 400;
  line-height: 26.041px;
}
.section10 .section10__column2-text2 {
  width: 116px;
  color: #5b5a59;
  font-family: "Inter-Regular";
  font-size: 16.534px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.148px;
}
.section10 .section10__column3 {
  width: 32%;
  padding: 40px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  border: 2px solid rgba(56, 56, 138, 0.12);
}
.section10 .section10__row2 {
  display: flex;
  justify-content: space-between;
}
.section10 .section10__column3-text1 {
  color: #5b5a59;
  font-family: "Inter-Regular";
  font-size: 18.601px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0 !important;
  line-height: 26.041px;
  width: 286px;
}
.section10 .section10__column3-text2 {
  color: #5b5a59;
  font-family: "Inter-Regular";
  font-size: 16.534px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.148px;
}
.section10 .section10__column4 {
  width: 32%;
  padding: 40px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  border: 2px solid rgba(56, 56, 138, 0.12);
}
.section10 .section10__column4-text1 {
  color: #5b5a59;
  font-family: "Inter-Regular";
  width: 291px;
  font-size: 18.601px;
  margin-bottom: 0 !important;
  font-style: normal;
  font-weight: 400;
  line-height: 26.041px;
}
.section10 .section10__column4-text2 {
  color: #5b5a59;
  font-family: "Inter-Regular";
  font-size: 16.534px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.148px;
}
.section10 .section10__column5 {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32%;
  padding: 40px;
  border: 2px solid rgba(56, 56, 138, 0.12);
  border-radius: 16px;
}
.section10 .section10__column5-text1 {
  color: #5b5a59;
  font-family: "Inter-Regular";
  font-size: 18.601px;
  font-style: normal;
  margin-bottom: 0 !important;
  font-weight: 400;
  line-height: 26.041px;
}
.section10 .section10__column5-text2 {
  color: #5b5a59;
  font-family: "Inter-Regular";
  font-size: 16.534px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.148px;
}
.section10 .section10__column6 {
  height: 400px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  width: 32%;
  padding: 40px;
  border: 2px solid rgba(56, 56, 138, 0.12);
  border-radius: 16px;
}
.section10 .section10__column6-text1 {
  color: #5b5a59;
  font-family: "Inter-Regular";
  font-size: 18.601px;
  font-style: normal;
  margin-bottom: 0 !important;
  font-weight: 400;
  line-height: 26.041px;
}
.section10 .section10__column6-text2 {
  color: #5b5a59;
  font-family: "Inter-Regular";
  font-size: 16.534px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.148px;
}

/* section10 end  */
/* section11 start */
.section11 .section11__container {
  border-radius: 32px;
  height: 499.16px;
  align-items: center;
  display: flex;
  row-gap: 30px;
  position: relative;
  justify-content: center;
  flex-direction: column;
  background: #2b44e7;
}
.section11 .section11__container:before {
  left: 0 !important;
  top: 63px;
  position: absolute;
  content: url(../images/main/div.fun-circle-wrapper.png);
}
.section11 .section11__container::after {
  position: absolute;
  top: -45px;
  right: 0;
  content: url(../images/main/div.fun-cube-wrapper.png);
}
.section11 .section11__div1 {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.section11 .section11__div1::after {
  position: absolute;
  bottom: -70px;
  right: 61px;
  width: 4rem;
  height: 7.2rem;
  background-color: #fbb8fd;
  border: 0.2rem solid #000;
  border-radius: 4rem;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0.3rem;
  display: flex;
  position: relative;
  content: "";
}
.section11 .section11__div1 .switch {
  width: 4rem;
  height: 7.2rem;
  background-color: #fbb8fd;
  border: 0.2rem solid #000;
  border-radius: 4rem;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0.3rem;
  display: flex;
}
.section11 .section11__div1 .switch-botton {
  width: 3.1rem;
  height: 3.1rem;
  background-color: #fff;
  border: 0.2rem solid #000;
  border-radius: 50%;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.415, 1.264);
  transform: none;
}
.section11 .section11__div1 .switch:hover {
  animation: slide 2s normal;
}
@keyframes slide {}

.section11-text1 {
  color: #fff;
  text-align: center;
  font-family: "Inter-Black";
  font-size: 51.736px;
  font-style: normal;
  font-weight: 900;
  line-height: 53.736px;
  letter-spacing: -1.343px;
}

.section11-link1 {
  color: #2b44e7;
  border: 2px solid #fff;
  text-align: center;
  font-family: "Inter-SemiBold";
  font-size: 16.534px;
  display: flex;
  width: 219.81px;
  height: 56.9px;
  border-radius: 8px;
  justify-content: center;
  text-decoration: none;
  background: #fff;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  line-height: 19.841px;
  transition: 0.4s;
}
.section11-link1:hover {
  color: #fff;
  background: transparent !important;
}

.section11-link2 {
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-family: "Inter-SemiBold";
  font-size: 16.534px;
  font-style: normal;
  display: flex;
  padding: 18.03px 35.25px 18.87px 34.06px;
  border-radius: 8px;
  border: 2px solid #fff;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  line-height: 19.841px; /* 120% */
  transition: 0.4s;
}
.section11-link2:hover {
  color: #2b44e7;
  background: #fff !important;
}

/* section11 end */
/* main */
/* footer start */
.footer {
  height: 404px;
  align-items: center;
  display: flex;
}
.footer .footer__container {
  height: 371.82px;
  padding: 30px;
  border-radius: 32px;
  background: #f7f7f7;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.footer .footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.footer .footer-link-title {
  color: #171618;
  font-family: "Inter-Bold";
  font-size: 18.601px;
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  line-height: 22.321px;
}
.footer .footer-link {
  color: #171618;
  font-family: "Inter-Medium";
  text-decoration: none;
  font-size: 16.534px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.148px;
}
.footer .footer__column-text1 {
  color: #5b5a59;
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: 400;
  line-height: 20.151px;
  margin-bottom: 0 !important;
}
.footer .footer__column1 {
  display: flex;
  align-items: center;
}
.footer .footer__column-div1 {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.footer .footer__link-div {
  width: 45px;
  transition: 0.6s;
  height: 45px;
  justify-content: center;
  display: flex;
  border: 2px solid rgba(56, 56, 138, 0.32);
  border-radius: 50%;
  align-items: center;
}
.footer .footer__link-div:hover {
  background: #1da1f2;
}
.footer .footer__link-div:hover .footer__link1 {
  fill: #fff;
}
.footer .footer__link1 {
  width: 20px;
  height: 20px;
}

.footer__link-div1 {
  width: 45px;
  transition: 0.6s;
  height: 45px;
  justify-content: center;
  display: flex;
  border: 2px solid rgba(56, 56, 138, 0.32);
  border-radius: 50%;
  align-items: center;
}
.footer__link-div1:hover {
  background: #ea4c89;
}
.footer__link-div1:hover .footer__link2 {
  fill: #fff;
}
.footer__link-div1 .footer__link2 {
  width: 20px;
  height: 20px;
}

.footer__link-div2 {
  width: 45px;
  transition: 0.6s;
  height: 45px;
  justify-content: center;
  display: flex;
  border: 2px solid rgba(56, 56, 138, 0.32);
  border-radius: 50%;
  align-items: center;
}
.footer__link-div2:hover {
  background: #0077b5;
}
.footer__link-div2:hover .footer__link3 {
  fill: #fff;
}
.footer__link-div2 .footer__link2 {
  width: 20px;
  height: 20px;
}

/* footer end *//*# sourceMappingURL=styles.css.map */
